.article__new {
    overflow: hidden;
    border-left: 2px solid #ff5a38;
    padding-left: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: inherit;
}

.article__new input {
    width: 800px;
    font-size: 20px;
    margin-bottom: 8px;
}

.article__new textarea {
    width: 800px;
    resize: none;
    height: 150px;
    margin-bottom: 5px;
}

.sub {
    margin-top: 5px;
}

.sub button {
    width: 120px;
    height: 30px;
}

.upload__article {
    border-left: 15px solid #ff5a38;
}