.articles {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: inherit;
}

.article {
    overflow: hidden;
    border-left: 2px solid #ff5a38;
    padding-left: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 800px;
    transition: 0.2s ease-in-out all;
}

.article-nohover {
    overflow: hidden;
    border-left: 2px solid #ff5a38;
    padding-left: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 800px;
    transition: none;
}

.article-nohover:hover {
    border-left: 2px solid #ff5a38;
}

.article:hover {
    border-left: 15px solid #ff5a38;
}

.article__title {
    width: 85%;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.article__content {
    font-size: 14px;
    line-height: 1.2;
    word-wrap: normal;
    margin-bottom: 10px;
    min-height: 100px;
}

.article .hr, .article-nohover .hr {
    height: 1px;
    width: 98%;
    background-color: #ff5a38;
}

.article__author {
    color: rgba(0, 0, 0, 0.56);
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.article-nohover button {
    margin-top: 10px;
}